:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --accent-white-color: #ffffff;
    --button-bg: #f5f4fa;
    --footer-bg: #2f303a;
    --address-color: rgba(255, 255, 255, 0.6);
    --header-bg: #ffffff;
}

body {
    background: var(--accent-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
}

.page-header {
    background-color: var(--header-bg);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/**Лого**/

.logo {
    display: inline-block;
    color: #000000;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    margin-top: 24px;
    margin-bottom: 25px;
}

.logo:hover,
.logo span {
    color: var(--accent-color);
}

footer .logo {
    color: var(--accent-white-color);
    margin-top: 60px;
    margin-bottom: 20px;
}

/**Меню**/

.link {
    display: inline-block;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link {
    color: var(--title-text-color);
    margin-top: 32px;
    margin-bottom: 32px;
}

.site-nav .link.current,
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

/**Контакты**/
.contact .link {
    color: var(--primary-text-color);
    margin-bottom: 32px;
    margin-top: 32px;
}
.contact .link:hover,
.contact .link:focus {
    color: var(--accent-color);
}

address {
    color: var(--address-color);
    font-style: normal;
}

.link.address {
    color: var(--accent-white-color);
}

address .contact .link {
    margin-bottom: 9px;
    margin-top: 0;
}

/**Hero**/
.hero {
    color: var(--accent-white-color);
    background-color: var(--footer-bg);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    padding: 200px 0;
}
.hero h1 {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

/**Button**/
.button {
    display: inline-block;
    min-width: 200px;
    border: none;
    background-color: var(--accent-color);
    color: var(--accent-white-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
}

.button.primary,
.button.secondary:hover,
.button.secondary:focus {
    background-color: var(--accent-color);
    color: var(--accent-white-color);
}

.button.secondary {
    background-color: var(--button-bg);
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

footer {
    background-color: var(--footer-bg);
    padding-bottom: 51px;
}

/**Section**/
.section-title {
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/**Преимущества нашей компании**/
.benefits-title {
    color: var(--title-text-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.container.benefits {
    padding-top: 94px;
    padding-bottom: 94px;
}

/**Секция наша команда**/
h2 {
    margin-bottom: 50px;
}

.container.work {
    padding-bottom: 94px;
}

.container.our-team {
    padding-top: 94px;
    padding-bottom: 94px;
}
.card {
    width: 270px;
    min-height: 368px;
    background: #ffffff;
    /* material shadow v1 */
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
}

.our-team {
    font-size: 16px;
    line-height: 1.9;
}

.our-team h3 {
    color: var(--title-text-color);
    font-weight: 500;
    margin-top: 30px;
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: auto;
}

/**Portfolio**/

.portfolio h2 {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2px;
    letter-spacing: 0.06em;
}
.portfolio p {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
}
